.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    position: static;
}

.box-2 {
    position: relative;
    left: 30px;
    top: 20px;
}

.box-3 {
    position: fixed;
    right: 0;
    top: 0;
}

.box-4 {
    position: sticky;
    top:200px;
    /*z-index: 1;*/
}

.box-5{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: coral;
}

.box-6{
    position: absolute;
    right: 20px;
    bottom: 20px;
}