.box{
    background-color: darkblue;
    color: white;
    padding: 20px;
    border: 3px green solid;
    margin: 20px;
}

.box-1{
    width: 100px;
    height: 100px;
    overflow: scroll;
}

.box-2{
    min-height: 200px;
    min-width: 200px;
    max-width: 600px;
    max-height: 600px;
}

.box-3{
    padding: 30px 50px;
}